/* Some resets */
*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body, p {
    padding: 0;
    margin: 0;
}

/* Header for our bit of text */
header {
    width: 768px;
    margin: auto;
    text-align: center;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #dedede;
}

header h1 {
    font-size: 56px;
    margin: 16px 0;
    font-weight: 400;
}

header h1 span, p span {
    color: #c0392b;
    font-weight: bold;
}

header p {
    font-size: 18px;
    margin: 8px 0;
    text-align: left;
    color: #7f8c8d;
}

.banner {
    width: 100%;
    background-color: #95a5a6;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:visited, a:hover {
    color: white;
    text-decoration: underline;
}

#output {
    width: 960px;
    margin: auto;
}

.row {
    display: flex;
}

.image-container {
    padding: 8px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.img-loading {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.img-zoom {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.img-zoom:hover {
    -ms-transform: scale(1.2)
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#img-loading-message {
    display: none;
    text-align: center;
    font-size: 52px;
    padding: 20px 0;
}

/* overlay */
#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

#overlay-inner {
    width: 90%;
    height: 90%;
    display: inline-block;
    text-align: center;
    padding: 2em;
}

#overlay-img {
    width: auto;
    max-height:100%;
    max-width:100%;
    display: inline-block;
    box-shadow: none;
}
/* End overlay */

input[type=text] {
    display: inline-block;
    padding: 8px;
    margin-top: 16px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 24px;
    cursor: inherit;
    width: 90%;
}

/* Condense on smaller screen */
@media screen and (max-width: 960px) {
    #output {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 786px) {
    header {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 500px) {
    header {
        width: 95%;
        margin: auto;
    }
    #output {
        width: 100%;
    }
    .image-container {
        padding: 4px;
    }
    input[type=text] {
        width: 100%;
    }
}